  <div fxLayout="row wrap">

  <div fxFlex.gt-lg="50" fxFlex.gt-md="25" fxFlex.gt-xs="50" fxFlex="50">
    <mat-card class="video-card">
      <img mat-card-image src="https://mdbcdn.b-cdn.net/img/new/standard/nature/111.webp" alt="Video Thumbnail">
      <mat-card-content>
        <mat-card-title>Basic Road Signs</mat-card-title>
        <!-- <mat-card-subtitle>Video Subtitle</mat-card-subtitle> -->
      </mat-card-content>
      <mat-card-actions>
        <button mat-icon-button>
          <mat-icon>play_arrow</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>

  <div fxFlex.gt-lg="50" fxFlex.gt-md="25" fxFlex.gt-xs="50" fxFlex="50">
    <mat-card class="video-card">
      <img mat-card-image src="https://mdbcdn.b-cdn.net/img/new/standard/nature/113.webp" alt="Video Thumbnail">
      <mat-card-content>
        <mat-card-title>Laws on the Road</mat-card-title>
        <!-- <mat-card-subtitle>Video Subtitle</mat-card-subtitle> -->
      </mat-card-content>
      <mat-card-actions>
        <button mat-icon-button>
          <mat-icon>play_arrow</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>

  <div fxFlex.gt-lg="50" fxFlex.gt-md="25" fxFlex.gt-xs="50" fxFlex="50">
    <mat-card class="video-card">
      <img mat-card-image src="https://mdbcdn.b-cdn.net/img/new/standard/nature/112.webp" alt="Video Thumbnail">
      <mat-card-content>
        <mat-card-title>Learn Road Safety</mat-card-title>
        <!-- <mat-card-subtitle></mat-card-subtitle> -->
      </mat-card-content>
      <mat-card-actions>
        <button mat-icon-button>
          <mat-icon>play_arrow</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
  </div>
