  <div fxLayout="row wrap">
  <!-- Column -->
  <div fxFlex.gt-lg="50" fxFlex.gt-md="25" fxFlex.gt-xs="50" fxFlex="50" >

    <mat-card>
      <img mat-card-image src="https://mdbcdn.b-cdn.net/img/new/standard/nature/111.webp" alt="Card Image">
      <mat-card-content>
        <mat-card-title>Title</mat-card-title>
        <mat-card-subtitle>Subtitle</mat-card-subtitle>
        <p>Description of the picture card.</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>Button 1</button>
        <button mat-button>Button 2</button>
      </mat-card-actions>
    </mat-card>
  </div>
  <!-- Column -->
  <div fxFlex.gt-lg="50" fxFlex.gt-md="25" fxFlex.gt-xs="50" fxFlex="50" >

    <mat-card>
      <img mat-card-image src="https://mdbcdn.b-cdn.net/img/new/standard/nature/112.webp" alt="Card Image">
      <mat-card-content>
        <mat-card-title>Title</mat-card-title>
        <mat-card-subtitle>Subtitle</mat-card-subtitle>
        <p>Description of the picture card.</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>Button 1</button>
        <button mat-button>Button 2</button>
      </mat-card-actions>
    </mat-card>
  </div>

    <!-- First column -->
    <div class="col-md">

      <!-- Card -->
      <div class="card">
        <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
          <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/111.webp" class="img-fluid" />
          <a href="#!">
            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
          </a>
        </div>
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <a href="#!" class="btn btn-primary">Button</a>
        </div>
      </div>
      <!-- Card -->

    </div>
    <!-- First column -->

    <!-- Second column -->
    <div class="col-md">

      <!-- Card -->
      <div class="card">
        <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
          <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/112.webp" class="img-fluid" />
          <a href="#!">
            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
          </a>
        </div>
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <a href="#!" class="btn btn-primary">Button</a>
        </div>
      </div>
      <!-- Card -->

    </div>
    <!-- Second column -->

    <!-- Third column -->
    <div class="col-md">

      <!-- Card -->
      <div class="card">
        <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
          <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/113.webp" class="img-fluid" />
          <a href="#!">
            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
          </a>
        </div>
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <a href="#!" class="btn btn-primary">Button</a>
        </div>
      </div>
      <!-- Card -->

    </div>
    <!-- Third column -->

  </div>
