<div fxLayout="row wrap">

  <!-- Column -->
  <div fxFlex.gt-lg="50" fxFlex.gt-md="25" fxFlex.gt-xs="50" fxFlex="50">
    <mat-card>
      <div fxLayoutAlign="center">
        <img mat-card-image src="./assets/svg/beginner-level.svg"  fxLayoutAlign="center" style="width: 200px; height: 200px;" alt="Card Image">
      </div>
      <mat-card-content>
        <mat-card-title>Beginner</mat-card-title>
        <mat-card-subtitle>Questions to test your fundamental understanding</mat-card-subtitle>
        <mat-card-actions fxLayoutAlign="center">
          <button mat-raised-button color="primary">View Instructions</button>
        </mat-card-actions>
      </mat-card-content>
    </mat-card>
  </div>
  <!-- Column -->
  <div fxFlex.gt-lg="50" fxFlex.gt-md="25" fxFlex.gt-xs="50" fxFlex="50">
    <mat-card>
      <div fxLayoutAlign="center">
        <img mat-card-image src="./assets/svg/intermediate-level.svg" fxLayoutAlign="center" style="width: 200px; height:200px;" alt="Card Image">
      </div>
      <mat-card-content>
        <mat-card-title>Intermediate</mat-card-title>
        <mat-card-subtitle>Questions to test your intermediate understanding</mat-card-subtitle>
        <mat-card-actions fxLayoutAlign="center">
          <button mat-raised-button color="primary">View Instructions</button>
        </mat-card-actions>
      </mat-card-content>
    </mat-card>
  </div>
  <!-- Column -->
  <div fxFlex.gt-lg="50" fxFlex.gt-md="25" fxFlex.gt-xs="50" fxFlex="50">
    <mat-card>
      <div fxLayoutAlign="center">
        <img mat-card-image src="./assets/svg/advanced-level.svg" fxLayoutAlign="center" style="width: 200px; height:200px;" alt="Card Image">
      </div>
      <mat-card-content>
        <mat-card-title>Advanced</mat-card-title>
        <mat-card-subtitle>Questions to test your advanced understanding</mat-card-subtitle>
        <mat-card-actions fxLayoutAlign="center">
          <button mat-raised-button color="primary">View Instructions</button>
        </mat-card-actions>
      </mat-card-content>
    </mat-card>
  </div>
  <!-- Column -->
  <div fxFlex.gt-lg="50" fxFlex.gt-md="25" fxFlex.gt-xs="50" fxFlex="50">
    <mat-card>
      <div fxLayoutAlign="center" >
        <img mat-card-image src="./assets/svg/professional-level.svg" style="width: 200px; height:200px;" alt="Card Image">
      </div>
      <mat-card-content>
        <mat-card-title>Professional</mat-card-title>
        <mat-card-subtitle>Questions to test your professional understanding</mat-card-subtitle>
        <mat-card-actions fxLayoutAlign="center">
          <button mat-raised-button color="primary">View Instructions</button>
        </mat-card-actions>
      </mat-card-content>
    </mat-card>
  </div>
</div>
