<div fxLayout="row wrap">
  <!-- Column -->
  <div fxFlex.gt-lg="50" fxFlex.gt-md="25" fxFlex.gt-xs="50" fxFlex="50" >
      <mat-card>
          <mat-card-content>
            <mat-list>
              <mat-list-item>
                <!-- <img mat-list-avatar src="assets/images/users/2.jpg" alt="Image of 15"> -->
                <div mat-list-avatar class="round round-lg text-white rounded-circle bg-info" style="width: 50px; height:50px;">
                  <svg style="vertical-align: middle;" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-credit-card fill-white feather-lg">
                    <rect x="1" y="4" width="22" height="16" rx="2" ry="2"></rect>
                    <line x1="1" y1="10" x2="23" y2="10"></line>
                  </svg>
                  <!-- <svg style="vertical-align: middle;" xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-shield fill-white feather-lg">
                    <path d="M12 22s8-4 8-10V5l-8-3-8 3v7c0 6 8 10 8 10z"></path>
                  </svg> -->
                </div>
                <h3 matLine>15 lessons</h3>
                <p matLine class="text-muted">Total lessons</p>
              </mat-list-item>
            </mat-list>
          </mat-card-content>
      </mat-card>
  </div>
  <!-- Column -->
  <!-- Column -->
  <div fxFlex.gt-lg="50" fxFlex.gt-md="25" fxFlex.gt-xs="50" fxFlex="50" >
      <mat-card>
          <mat-card-content>
            <mat-list>
              <mat-list-item>
                <!-- <img mat-list-avatar src="assets/images/users/2.jpg" alt="Image of 15"> -->
                <div mat-list-avatar class="round round-lg text-white rounded-circle bg-warning" style="width: 50px; height:50px;">
                  <svg style="vertical-align: middle;" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-monitor fill-white feather-lg">
                    <rect x="2" y="3" width="20" height="14" rx="2" ry="2"></rect>
                    <line x1="8" y1="21" x2="16" y2="21"></line>
                    <line x1="12" y1="17" x2="12" y2="21"></line>
                  </svg>
                </div>
                <h3 matLine>6 videos</h3>
                <p matLine class="text-muted">Total videos</p>
              </mat-list-item>
            </mat-list>
          </mat-card-content>
      </mat-card>
  </div>
  <!-- Column -->
  <!-- Column -->
  <div fxFlex.gt-lg="50" fxFlex.gt-md="25" fxFlex.gt-xs="50" fxFlex="50" >
      <mat-card>
          <mat-card-content>
            <mat-list>
              <mat-list-item>
                <div mat-list-avatar class="round round-lg text-white rounded-circle bg-primary" style="width: 50px; height:50px;">
                  <svg style="vertical-align: middle;" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-shopping-bag fill-white feather-lg">
                    <path d="M6 2L3 6v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2V6l-3-4z"></path>
                    <line x1="3" y1="6" x2="21" y2="6"></line>
                    <path d="M16 10a4 4 0 0 1-8 0"></path>
                  </svg>
                </div>
                <h3 matLine>95%</h3>
                <p matLine class="text-muted">Highest Score</p>
              </mat-list-item>
            </mat-list>
          </mat-card-content>
      </mat-card>
  </div>
  <!-- Column -->
  <!-- Column -->
  <div fxFlex.gt-lg="50" fxFlex.gt-md="25" fxFlex.gt-xs="50" fxFlex="50" >
      <mat-card>
          <mat-card-content>
            <mat-list>
              <mat-list-item>
                <!-- <img mat-list-avatar src="assets/images/users/2.jpg" alt="Image of 15"> -->
                <div mat-list-avatar class="round round-lg text-white rounded-circle bg-danger" style="width: 50px; height:50px;">
                  <svg style="vertical-align: middle;" xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-shield fill-white feather-lg">
                    <path d="M12 22s8-4 8-10V5l-8-3-8 3v7c0 6 8 10 8 10z"></path>
                  </svg>
                </div>
                <h3 matLine>45%</h3>
                <p matLine class="text-muted">Average Score</p>
              </mat-list-item>
            </mat-list>
          </mat-card-content>
      </mat-card>
  </div>
  <!-- Column -->
</div>
<!-- ============================================================== -->
<!-- Simple four boxes Row -->
<!-- ============================================================== -->
<div fxLayout="row wrap">
  <!-- column -->
  <div fxFlex.gt-lg="65" fxFlex.gt-md="65" fxFlex.gt-xs="100" fxFlex="100">
    <app-sales-overview></app-sales-overview>
  </div>
  <!-- column -->
  <!-- column -->
  <div fxFlex.gt-lg="35" fxFlex.gt-md="35" fxFlex.gt-xs="100" fxFlex="100">
    <app-our-visiter></app-our-visiter>
  </div>
  <!-- column -->
</div>

<!-- ============================================================== -->
<!-- Image Card row-->
<!-- ============================================================== -->
<div fxLayout="row wrap">

  <!-- Card column -->
  <!-- <div fxFlex.gt-lg="25" fxFlex.gt-md="40" fxFlex.gt-xs="100" fxFlex="100">
    <app-profile></app-profile>
    <app-contacts></app-contacts>
  </div> -->
  <!-- Card column -->
  <!-- Card column -->
  <!-- <div fxFlex.gt-lg="75" fxFlex.gt-md="60" fxFlex.gt-xs="100" fxFlex="100">
    <app-activity-timeline></app-activity-timeline>
  </div> -->
</div>
