<div fxLayout="row wrap">

  <!-- Column -->
  <div fxFlex.gt-lg="50" fxFlex.gt-md="25" fxFlex.gt-xs="50" fxFlex="50">
    <mat-card>
      <div fxLayoutAlign="center">
        <img mat-card-image src="./assets/images/lessons/lesson-1.png" fxLayoutAlign="center"
          style="width: 200px; height: 200px;" alt="Card Image">
      </div>
      <mat-card-content fxLayoutAlign="center">
        <mat-card-subtitle>Road Signs</mat-card-subtitle>
      </mat-card-content>
    </mat-card>
  </div>
  <!-- Column -->
  <div fxFlex.gt-lg="50" fxFlex.gt-md="25" fxFlex.gt-xs="50" fxFlex="50">
    <mat-card>
      <div fxLayoutAlign="center">
        <img mat-card-image src="./assets/images/lessons/lesson-9.png" fxLayoutAlign="center"
          style="width: 200px; height: 200px;" alt="Card Image">
      </div>
      <mat-card-content>
        <mat-card-subtitle fxLayoutAlign="center">Motor Law</mat-card-subtitle>
      </mat-card-content>
    </mat-card>
  </div>
  <!-- Column -->
  <div fxFlex.gt-lg="50" fxFlex.gt-md="25" fxFlex.gt-xs="50" fxFlex="50">
    <mat-card>
      <div fxLayoutAlign="center">
        <img mat-card-image src="./assets/images/lessons/lesson-2.png" fxLayoutAlign="center"
          style="width: 200px; height: 200px;" alt="Card Image">
      </div>
      <mat-card-content fxLayoutAlign="center">
        <mat-card-subtitle>Vehicle Knowledge</mat-card-subtitle>
      </mat-card-content>
    </mat-card>
  </div>
  <!-- Column -->
  <div fxFlex.gt-lg="50" fxFlex.gt-md="25" fxFlex.gt-xs="50" fxFlex="50">
    <mat-card>
      <div fxLayoutAlign="center">
        <img mat-card-image src="./assets/images/lessons/lesson-8.png" fxLayoutAlign="center"
          style="width: 200px; height: 200px;" alt="Card Image">
      </div>
      <mat-card-content>
        <mat-card-subtitle fxLayoutAlign="center">Safe Driving</mat-card-subtitle>
      </mat-card-content>
    </mat-card>
  </div>
  <!-- Column -->
  <div fxFlex.gt-lg="50" fxFlex.gt-md="25" fxFlex.gt-xs="50" fxFlex="50">
    <mat-card>
      <div fxLayoutAlign="center">
        <img mat-card-image src="./assets/images/lessons/lesson-10.png" fxLayoutAlign="center"
          style="width: 200px; height: 200px;" alt="Card Image">
      </div>
      <mat-card-content>
        <mat-card-subtitle fxLayoutAlign="center">First Aid</mat-card-subtitle>
      </mat-card-content>
    </mat-card>
  </div>
  <!-- Column -->
  <div fxFlex.gt-lg="50" fxFlex.gt-md="25" fxFlex.gt-xs="50" fxFlex="50">
    <mat-card>
      <div fxLayoutAlign="center">
        <img mat-card-image src="./assets/images/lessons/lesson-3.png" fxLayoutAlign="center"
          style="width: 200px; height: 200px;" alt="Card Image">
      </div>
      <mat-card-content fxLayoutAlign="center">
        <mat-card-subtitle>General Tips</mat-card-subtitle>
      </mat-card-content>
    </mat-card>
  </div>
</div>
