<div class="login-container">
  <mat-card class="login-card">
    <form autocomplete="off">
      <mat-card-header>
        <mat-card-title>Login</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-form-field>
          <input matInput placeholder="Username" type="text" autocomplete="off">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Password" type="password"  autocomplete="off">
        </mat-form-field>
        <div style="margin-bottom: 25px;" class="text-muted">
          <a style="size: 10px; color: grey;" [routerLink]="['/auth/forgotten-password']" > Forgot password ?</a>
        </div>
        <mat-card-actions>
          <button mat-raised-button type="button" [routerLink]="['/dashboard']" color="primary">Login</button>
        </mat-card-actions>
        <div style="size: 12px; margin-top: 25px;">
          Don't have an account? <br /><a style="size: 10px; color: grey;" [routerLink]="['/auth/register']" >Create One</a>
        </div>
      </mat-card-content>
      </form>
  </mat-card>
  <div class="side-image" fxLayout="row" fxLayoutAlign="center">
    <img src="./assets/svg/login.svg"/>
  </div>
</div>
