.forgotten-password-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.forgotten-password-card {
  width: 300px;
  margin-right:80px;
  margin-left: 40px;
}

.side-image {
  flex: 1;
  /* background-image: url('path/to/your/image.jpg'); */
  background-size: cover;
  background-position: center;
}






